.profail-title__item:not(:last-child) {
  margin-right: 30px;
}

body {
  font-family: Roboto, sant-serif;
  --card-set-gup: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
}

/*for_h2*/
.block-titles {
  margin-bottom: 30px;
  color: var(--color);
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .block-titles {
    margin-bottom: 50px;
  }
}

.container,
.footer-container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container,
.footer-container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container,
.footer-container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container,
.footer-container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid green;
}
@media screen and (min-width: 480px) {
  .header {
    padding: 15px 0;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 25px 0;
  }
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header {
  position: relative;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.page-header__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__logo {
  -ms-flex-item-align: center;
      align-self: center;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__logo:hover {
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .page-header__logo {
    margin-right: 284px;
  }
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}

.page-header__web {
  color: #2196f3;
}

/*MENU-BUTTON-BEGIN*/
.header-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header-button:hover,
.header-button :focus {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .header-button {
    display: none;
  }
}

.header-button .icon-menu {
  display: none;
}

.header-button.is-open .icon-menu {
  display: block;
}

.header-button.is-open .icon-cross {
  display: none;
}

.header-menu {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 796px;
  background-color: yellowgreen;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-menu {
    display: block;
  }
}

.header-menu.is-open {
  display: none;
}

/*MENU-BUTTON-END*/
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation__menu:not(:last-child) {
  margin-right: 50px;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation__menu:last-child {
    margin-right: 60px;
  }
}

.navigation__link {
  display: block;
  color: #212121;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover {
  color: #2196f3;
}

.navigation__link--accent {
  position: relative;
  margin-left: 0;
  margin-top: 0;
  padding-bottom: 0;
}
.navigation__link--accent:visited {
  color: #2196f3;
}
.navigation__link--accent::after {
  content: "";
  position: absolute;
  display: block;
  top: 100%;
  margin-top: 29px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .navigation__link--accent::after {
    margin-top: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__link--accent::after {
    margin-top: 29px;
  }
}

.contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .contact-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .contact-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 245px;
  }
}

.contact-header__item {
  fill: #757575;
  color: #757575;
}
.contact-header__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (min-width: 768px) {
  .contact-header__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-header__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.contact-header__mail,
.contact-header__tel {
  text-decoration: none;
}

.contact-header__icon {
  margin-right: 10px;
}

.contact-header__mail,
.contact-header__tel {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-header__mail:hover,
.contact-header__mail:focus,
.contact-header__tel:hover,
.contact-header__tel:focus {
  color: #2196f3;
  fill: #2196f3;
}

.slogan {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Img_hero_v_2.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img_hero_v_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
  background-color: #2f303a;
}

.slogan-site__text {
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .slogan-site__text {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 0.06em;
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .slogan-site__text {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    width: 696px;
  }
}

.slogan-site__button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

button.slogan-site__button {
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.06em;
  /*font-size: 16px;
   font-weight: bold;
   line-height: 1.87;
   letter-spacing: 0.06em;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.benefits {
  padding-top: 94px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .benefits {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0;
  }
}

.benefits-topic__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gup));
  margin-top: calc(-1 * var(--card-set-gup));
}

.benefits-topic__item {
  display: block;
  margin-left: var(--card-set-gup);
  margin-top: var(--card-set-gup);
  /*&:not(:last-child) {
    @extend %margin-primary;
  }*/
}
@media screen and (min-width: 480px) {
  .benefits-topic__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-topic__item {
    -ms-flex-preferred-size: calc(100% / 2 - var(--card-set-gup));
        flex-basis: calc(100% / 2 - var(--card-set-gup));
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-topic__item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 270px;
  }
}

.benefits-topic__item::before {
  content: "";
  display: block;
  /*width: 270px;*/
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits-topic__item:nth-child(1)::before {
  background-image: url(../imagescvg/antenna1.svg);
}

.benefits-topic__item:nth-child(2)::before {
  background-image: url(../imagescvg/clock1.svg);
}

.benefits-topic__item:nth-child(3)::before {
  background-image: url(../imagescvg/diagram1.svg);
}

.benefits-topic__item:nth-child(4)::before {
  background-image: url(../imagescvg/astronaut1.svg);
}

.advantage {
  color: #212121;
  padding-top: 30px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.services {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 767px) {
  .services {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.profail {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.profail-title {
  margin-bottom: 50px;
  color: #212121;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.profail-title__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service {
  position: relative;
}

.service-product {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.service-product__name {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  margin: auto;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.command {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
  background-color: #f5f4fa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .command {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .command {
    padding-top: 94px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(-1 * var(--card-set-gup));
  margin-top: calc(-1 * var(--card-set-gup));
}
@media screen and (min-width: 480px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__member {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  margin-left: var(--card-set-gup);
  margin-top: var(--card-set-gup);
}
@media screen and (min-width: 768px) {
  .team__member {
    -ms-flex-preferred-size: calc((100% - 2 * var(--card-set-gup)) / 2);
        flex-basis: calc((100% - 2 * var(--card-set-gup)) / 2);
    margin-right: 0;
  }
}
.member-card {
  padding: 30px 0;
}

.member-card__name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-card__position {
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*==========SOCIAT ICON=============*/
.member-card__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.member-card__social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}
.member-card__social-icon:not(last-child) {
  margin-right: 10px;
}
.member-card__social-icon:hover {
  background-color: #2196f3;
}

.social-net {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-net:hover, .social-net:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.clients {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gup));
  margin-top: calc(-1 * var(--card-set-gup));
}

.client-list__icon {
  margin-left: var(--card-set-gup);
  margin-top: var(--card-set-gup);
  height: 92px;
  /*&:not(last-child) {
    @extend %margin-primary;
  }*/
}
@media screen and (min-width: 480px) {
  .client-list__icon {
    -ms-flex-preferred-size: calc(100% / 2 - var(--card-set-gup));
        flex-basis: calc(100% / 2 - var(--card-set-gup));
  }
}
@media screen and (min-width: 768px) {
  .client-list__icon {
    -ms-flex-preferred-size: calc(100% / 3 - var(--card-set-gup));
        flex-basis: calc(100% / 3 - var(--card-set-gup));
  }
}
@media screen and (min-width: 1200px) {
  .client-list__icon {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 170px;
  }
}

.client-logo {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo:hover, .client-logo:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.all-btn {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-portfolio__list {
  height: 38px;
}
.btn-portfolio__list:not(:last-child) {
  margin-right: 8px;
}

.button-primery {
  color: #ffffff;
  background-color: #2196f3;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-secondary {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary:hover,
.button-secondary:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-primery,
.button-secondary {
  padding-left: 22px;
  padding-right: 22px;
}

.button,
.button-primery,
.button-secondary {
  cursor: pointer;
  border-color: transparent;
}

.projects {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gup));
  margin-top: calc(-1 * var(--card-set-gup));
}

.projects > .projects__list {
  margin-left: var(--card-set-gup);
  margin-top: var(--card-set-gup);
}
@media screen and (min-width: 768px) {
  .projects > .projects__list {
    -ms-flex-preferred-size: calc(100% / 2 - var(--card-set-gup));
        flex-basis: calc(100% / 2 - var(--card-set-gup));
  }
}
@media screen and (min-width: 1200px) {
  .projects > .projects__list {
    -ms-flex-preferred-size: calc(100% / 3 - var(--card-set-gup));
        flex-basis: calc(100% / 3 - var(--card-set-gup));
  }
}

.projects__list * {
  background: #ffffff;
}

.projects-icon {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-icon:hover, .projects-icon:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}

.projects-icon__box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projects-icon__title {
  border: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.projects-icon__sorting {
  margin-top: 4px;
  color: #757575;
  border: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.projects-icon__images {
  position: relative;
  overflow: hidden;
}

.projects-icon__images:hover .projects-icon__submenu,
.projects-icon__images:focus .projects-icon__submenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.projects-icon__submenu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px 63px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer {
  /*margin-left: auto;
  margin-right: auto;*/
  margin: 0, auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*align-items: space-align;*/
}
@media screen and (min-width: 480px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .page-footer__logo {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__logo {
    text-align: start;
  }
}

.page-footer__web {
  color: #2196f3;
}

.page-footer__address {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.74;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .page-footer__address {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__address {
    text-align: start;
  }
}

.page-footer__contact {
  list-style: none;
}
@media screen and (min-width: 480px) {
  .page-footer__contact {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__contact {
    margin-top: 0;
  }
}

@media screen and (min-width: 480px) {
  .page-footer__item {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__item {
    text-align: start;
  }
}

.page-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*=======BLOCK_2_FOOTER============*/
@media screen and (min-width: 480px) {
  .footer-socnet {
    margin-left: 0;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-socnet {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socnet {
    margin-left: 70px;
    margin-top: 0;
  }
}

.propose {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .propose {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .propose {
    text-align: start;
  }
}

.footer-socnet__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90px;
}
@media screen and (min-width: 480px) {
  .footer-socnet__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socnet__icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.footer-socnet__icon:nth-child(1) {
  margin-left: 0;
}

.footer-socnet__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.social-net-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-net-footer:hover,
.social-net-footer:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

/*=======BLOCK_3_FOOTER============*/
@media screen and (min-width: 480px) {
  .footer-mailing {
    margin-left: 0;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mailing {
    margin-left: 70px;
    margin-top: 0;
  }
}

.footer-mailing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 480px) {
  .footer-mailing__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mailing__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-mailing__form input {
  margin-right: 12px;
  padding-left: 16px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .footer-mailing__form input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .footer-mailing__form input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mailing__form input {
    width: 350px;
  }
}

.footer-mailing__subscribe {
  position: relative;
  width: 200px;
  height: 50px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 1.875;
  text-align: start;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .footer-mailing__subscribe {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mailing__subscribe {
    margin-top: 0;
  }
}

.footer-mailing__svg {
  position: absolute;
  top: 50%;
  margin-left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 40px;
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: 0.3s linear #212121;
  transition: 0.3s linear #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:focus, .modal-close:hover {
  color: #2196f3;
}

.modal-close__button {
  width: 30px;
  height: 30px;
  fill: currentColor;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.form-field__input {
  margin-top: 4px;
  text-indent: 42px;
}

.form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 18px;
  height: 18px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px, 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__massage {
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  font-family: inherit;
  padding: 12px 16px;
}

/*===Modal-checkbox===*/
.modal-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .modal-checkbox {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  .modal-checkbox {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .modal-checkbox {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.74;
    letter-spacing: 0.03em;
  }
}

.modal-checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-checkbox__icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__contract {
  display: block;
  margin-left: 4px;
  color: #2196f3;
}

.modal-checkbox__input:checked + .modal-checkbox__icon {
  border-color: transparent;
  background-image: url(../imagescvg2/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-checkbox__input:focus + .modal-checkbox__icon {
  border-color: #2196f3;
}

.form-field__input:focus {
  outline: 1px solid #2196f3;
}

.form-field__input:focus ~ .form-field__icon {
  fill: #2196f3;
}

/*===Modal-button-submit===*/
.modal-submit {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}/*# sourceMappingURL=main.css.map */