.clients {
  width: 1200px;
  /*height: 372px;*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.client-list__icons {
  display: flex;
  @media screen and (min-width: 480px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-basis: calc(100% / 2);
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.client-list__icon {
  width: 170px;
  height: 92px;
  &:not(last-child) {
    @extend %margin-primary;
  }
  @media screen and (min-width: 1200px) {
  }
}

.client-logo {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $color-icon;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $second-color;
    border-color: $second-color;
  }
}
