.header {
  border-bottom: 1px solid green;
  @media screen and (min-width: 480px) {
    padding: 15px 0;
  }
  @media screen and (min-width: 768px) {
    padding: 25px 0;
  }
}
.page-header {
  display: flex;
  align-items: center;
}
.page-header {
  position: relative;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-header__nav-bar {
  display: flex;
  align-items: center;
}
.page-header__logo {
  align-self: center;
  text-decoration: none;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: $color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $second-color;
  }
  @media screen and (min-width: 480px) {
    margin-right: 284px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.page-header__web {
  color: $second-color;
}
/*MENU-BUTTON-BEGIN*/
.header-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover,
  :focus {
    fill: $second-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header-button .icon-menu {
  display: none;
}
.header-button.is-open .icon-menu {
  display: block;
}
.header-button.is-open .icon-cross {
  display: none;
}
.header-menu {
  /*display: block;*/
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 796px;

  background-color: yellowgreen;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: none;
  }

  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.menu-nav {
  display: flex;
  text-align: start;
}
.menu-nav__link {
  @include fontMix(40px, 500, 1.175, 0.02em);
  color: $color;
  text-decoration: none;
  margin-bottom: 35px;
}

/*MENU-BUTTON-END*/
.header-menu {
  display: flex;
  flex-direction: row;
}
.navigation {
  display: flex;
  color: $color;
  @include fontMix(14px, 500, 1.14, 0.02em);

  &__menu:not(:last-child) {
    margin-right: 50px;
  }
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    &__menu:last-child {
      margin-right: 60px;
    }
    display: flex;
    align-items: center;
  }
}
.navigation__link {
  display: block;
  color: $color;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $second-color;
  }
}

.navigation__link--accent {
  position: relative;
  margin-left: 0;
  margin-top: 0;
  padding-bottom: 0;
  &:visited {
    color: $second-color;
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 100%;
    margin-top: 29px;

    width: 100%;
    height: 4px;

    background: $second-color;
    border-radius: 2px;
    @media screen and (min-width: 768px) {
      margin-top: 34px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 29px;
    }
  }
}

.contact-header {
  display: flex;
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    flex-direction: column;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    margin-left: 245px;
  }
}
.contact-header__item {
  fill: $color-text;
  color: $color-text;
  &:not(:last-child) {
    margin-right: 50px;
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
.contact-header__mail,
.contact-header__tel {
  text-decoration: none;
}
.contact-header__icon {
  margin-right: 10px;
}
.contact-header__mail,
.contact-header__tel {
  color: $color-text;
  @include fontMix(14px, 500, 1.14, 0.02em);

  display: flex;
  align-items: center;
  fill: $color-text;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-header__mail:hover,
.contact-header__mail:focus,
.contact-header__tel:hover,
.contact-header__tel:focus {
  color: $second-color;
  fill: $second-color;
}
