.page-footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  justify-content: start;
}
.footer-container {
  display: flex;
  @media screen and (min-width: 480px) {
    flex-direction: column;
  }
  display: flex;
  /*align-items: space-align;*/
}
.footer-contact {
  margin-left: 70px;
}
.page-footer__logo {
  display: block;
  margin-bottom: 30px;
  color: $back-color;
  text-decoration: none;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.page-footer__web {
  color: $second-color;
}
.page-footer__address {
  color: $back-color;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.74;
  letter-spacing: 0.03em;
}
.page-footer__contact {
  list-style: none;
}
.page-footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.page-footer__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*=======BLOCK_2_FOOTER============*/

.footer-socnet {
  margin-left: 70px;
}
.propose {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $back-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $back-color;
}
.footer-socnet__icons {
  display: flex;
  width: 100%;
  height: 90px;
}
.footer-socnet__icon:nth-child(1) {
  margin-left: 0;
}
.footer-socnet__icon {
  @include socnet-icon;

  margin-top: 20px;
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.social-net-footer {
  @include socnet-icon;

  background: rgba(255, 255, 255, 0.1);
  fill: $back-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-net-footer:hover,
.social-net-footer:focus {
  fill: $back-color;
  background-color: $second-color;
}

/*=======BLOCK_3_FOOTER============*/
.footer-mailing {
  margin-left: 93px;
}
.footer-mailing__form {
  display: flex;
  margin-top: 20px;
}
.footer-mailing__form input {
  margin-right: 12px;
  padding-left: 16px;

  width: 350px;
  height: 50px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-mailing__subscribe {
  position: relative;
  width: 200px;
  height: 50px;
  padding-left: 30px;

  font-size: 16px;
  line-height: 1.875;
  text-align: start;

  letter-spacing: 0.06em;
  color: $back-color;

  background: $second-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-mailing__svg {
  position: absolute;

  top: 50%;
  margin-left: 10px;
  transform: translateY(-50%);

  width: 24px;
  height: 24px;
}
