.services {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-top: 94px;
  padding-bottom: 94px;
}
.profail-title {
  margin-bottom: 50px;
  color: $color;
  text-align: center;

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.profail-title__list {
  display: flex;
}
.profail-title__item:not(:last-child) {
  @extend %margin-primary;
}
.service {
  position: relative;
}
.service-product {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.service-product__name {
  color: $back-color;
  font-size: 14px;
  line-height: 1.14;
  margin: auto;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
