.slogan {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img_hero_v_2.jpg);
  background-repeat: no-repeat;
  background-position: center;

  padding: 200px 0;
  background-color: #2f303a;
}

.slogan-site__text {
  color: $back-color;

  margin: 0 auto;
  margin-bottom: 30px;

  font-family: Roboto;
  font-style: normal;

  @include fontMix(44px, 900, 1.36, 0.06em);

  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: 480px) {
    @include fontMix(26px, 900, 1.61, 0.06em);
    width: 360px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    @include fontMix(44px, 900, 1.36, 0.06em);
    width: 696px;
  }
}
.slogan-site__button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
button.slogan-site__button {
  padding: 10px 32px;
  color: $back-color;
  background-color: $second-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;

  @include fontMix(16px, bold, 1.87, 0.06em);
  /*font-size: 16px;
   font-weight: bold;
   line-height: 1.87;
   letter-spacing: 0.06em;*/

  display: flex;
  align-items: center;
  text-align: center;
}
