body {
  font-family: Roboto, sant-serif;
  --card-set-gup: 30px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
img {
  display: block;
  max-width: 100%;
}
/*for_h2*/
.block-titles {
  margin-bottom: 50px;
  color: var(--color);
  text-align: center;

  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 490px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
